/* index.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #7d3280;
}

.main-Div {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.main-Div:hover {
  transform: scale(1.02);
}

h1 {
  color: #333;
}

input[type="text"] {
  padding: 10px;
  width: 60%;
  margin: 10px 0;
  box-sizing: border-box;
}


ol {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
}


button {
  padding: 10px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  /* Add a smooth transition for the background color */
}

button:hover {
  background-color: #45a049;
  transform: scale(1.02);
}

button.delete-btn {
  background-color: #ff4d4d;
}

button.delete-btn:hover {
  background-color: #e53935;

}

ol li {
  list-style-type: none;
}

/* Add this style to index.css */

.todo-item {
  display: flex;
  align-items: center;
}

.todo-item button {
  margin-right: 8px;
}